<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Hand Classification</title>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Hand Type: </strong><%- handType %><br>
	</div>
    <h1>Joke of the second:</h1>
    <a href="/">HOME</a>
</body>

</html>
