<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Poker Hand Classifier</title>
    <style>
        h1 {
            margin-left: 10px;
        }

        input {
            font-size: 14px;
            background-color: black;
            color: white;
            padding: 6px 15px;
            border: none;
            border-radius: 10px;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
        }

        input:hover {
            background-color: darkred;
        }
    </style>
</head>

<body>
	<h1>Poker Hand Classifier</h1>
    <img src="/images/PlayingCards.png" alt="playing cards" width="325" height="325"><br><br>
    <a href="/classify"><input type="button" value="Classify Hand"></a>
    <a href="/queries"><input type="button" value="Past Queries"></a>
</body>

</html>
