<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Past Hands</title>
    <style>
        h1 {
            margin-left: 10px;
        }

        div {
            margin-left: 15px;
        }

        td {
            padding: 5px;
        }

        input {
            font-size: 14px;
            background-color: black;
            color: white;
            padding: 6px 15px;
            border: none;
            border-radius: 10px;
            margin-left: 15px;
            margin-right: 15px;
            cursor: pointer;
        }

        input:hover {
            background-color: darkred;
        }
    </style>
</head>

<body>
	<h1>Past Hands</h1>
    <div>
	    <%- table %><br>
    </div>
    <br><br>
    <a href="/"><input type="button" value="Home"></a>
</body>

</html>
