<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review</title>
</head>

<body>
	<h1>Review Hands</h1>
	<form action="http://localhost:5000/review" method="post">
        <label>Review all previous queries: 
        <input type="submit" value="Submit Request"/>
	</form>
    <a href="/">HOME</a>
</body>

</html>
